<html>
<head>
    <title>{{ group }}</title>
    <style>{{ style|safe }}

    .content{
    display:flex;
    flex-wrap: wrap;}

    .content div{
    flex:20%;
    min-width: 13em;
    }
</style>
</head>
<body>
<div class="content">
<div>
    {% for category in typesByCategory.keys()|sort(case_sensitive=False) %}{%if category != "" %}<h3>{{ category }}</h3>{% endif %}
             {% for type in typesByCategory[category]%}
    <a href="{{ type['url'] }}" target="_blank">{{ type['name'] }}</a><br/>
             {% if typesByCategory.keys()|length == 1 and loop.index%((typesByCategory[category]|length)/3) == 0 %}
            </div><div>
                {% endif %}
            {% endfor %}
    {% if loop.index%2 == 0 %}
            </div><div>
                {% endif %}
    {% endfor %}
</div>
    </div>

</body>

</html>